<ion-header>
  <ion-toolbar>
    <ion-title>
      My Calendars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-button expand="block" (click)="onLogin()">Login to Microsoft Account</ion-button>
    <ion-item *ngFor="let cal of calSvc.calendars" tappable>
      <button ion-button icon-only item-start clear (click)="calSvc.addEvent(cal)">
        <ion-icon name="add"></ion-icon>
      </button>
      {{ cal.name }}
      <p>{{ cal.type }}</p>
      <button ion-button icon-only item-end clear (click)="openCal(cal)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="calSvc.createCal(calSvc.calName)">Create Local {{ calSvc.calName }} Calendar</ion-button>
  <ion-button expand="block" (click)="calSvc.deleteCal(calSvc.calName)">Delete Local {{ calSvc.calName }} Calendar</ion-button>
</ion-content>
